<main>
    {{#unless user}}
    <div class="alert alert-warning " role="alert">
        Login if you want analytics!
    </div>
    {{/unless}}

    {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    {{/if}}

    <div class="row justify-content-center" style="margin-bottom: 2.5em;margin-top: 10em;">
        <div class="home-text">
            <h1><strong>URL Shortener</strong></h1>
            <h2>Simplify your links and track them!</h2>
        </div>
    </div>

    <div>
        <form action="/add-url" method="POST">
            <div class="form-group justify-content-center" id="add-url-container">
                <input type="url" class="form-control col-md-5" name="url" placeholder="Enter your url here!">
                <button type="submit" class="btn btn-primary col-md-1">Submit</button>
            </div>
        </form>
    </div>




    {{#if url}}
    <div class="row justify-content-center">
        <div class="alert alert-dark" role="alert" style="margin-top: 2em;">
            Your shortered URL: <a href="{{domain}}{{url}}" class="alert-link">{{domain}}{{url}}</a>.
        </div>
    </div>
    {{/if}}
</main>