<main>
    {{#if urls}}
    <table class="table is-bordered is-hoverable" style="margin: 6em auto">
        <thead>
            <tr>
                <th>Original URL</th>
                <th>Short URL</th>
                <th>Created on</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {{#each urls}}
            <tr>
                <td>{{this.url}}</td>
                <td>
                    <a href="{{../domain}}{{this.urlConverted}}" class="is-vcentered ">
                        <span class="icon is-small is-left">
                            <i class="fas fa-external-link-alt"></i>
                        </span>
                        <span>{{../domain}}{{this.urlConverted}}</span>

                    </a>
                </td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a class="button is-link is-light" href="/analytics/{{this.idURLs}}">
                        <span class="icon is-small is-left">
                            <i class="far fa-chart-bar"></i>
                        </span>
                        <span>Analytics</span>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="notification is-danger">
        <p class="has-text-weight-bold is-size-5">
            You don't have Urls
        </p>
    </div>
    {{/if}}
</main>